<div class="app-loading" *ngIf = 'loading' >
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div class="postDetailBlock" *ngIf = '!loading'>
    <div class="postContent">
        <h2 class="postTitle">{{ postsData?.title }}</h2>
        <p class="postBody">{{ postsData?.body}}</p>
    </div>
    <div class="authorBlock">
        <p class="authorname">{{postsData?.authorname}}</p>
    </div>
    <div class="postCommentTrail">
        <app-comments [id]="postId"></app-comments>
    </div>
</div>