.commentBlock {
    margin-top: 20px;
    background-color: #ada3a345;
    padding: 10px 14px;
    border-radius: 12px;
    .topBlock {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .authorname {
        font-size: 15px;
    }
    .commentDate {
        font-size: 0.7rem;
        color: gray;
    }
    .comment {
        width: 600px;
        margin-top: 10px;
        padding-left: 45px;
        .commentText {
            font-size: 15px;
        }
    }
}



.iconBlock {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
    img {
        width: 100%;
    }
}

.addCommentBlock {
    position: sticky;
    bottom: 0px;
    background-color: #ababab;
    padding: 20px;
    .textInput {
        width: 75%;
        input {
            width: 100%;
            height: 28px;
            border-radius: 12px;
            border: none;
            font-size: 15px;
            padding: 0 12px;
            &:focus {
                outline: none;
            }
        }
    }
    .block {
        display: flex;
        align-items: center;
        .btn-block {
            button {
                padding: 6px 18px;
                font-size: 14px;
                border: none;
            }
        }
    }
}