<div class="commentTrail" *ngIf="comments?.length > 0">
    <h4>Comments</h4>
    <div class="commentBlock" *ngFor = "let comment of comments">
        <div class="commentAuthor">
            <div class="topBlock">
                <div class="iconBlock">
                    <img src="assets/images/user.svg" alt="">
                </div>
                <div class="authorDetail">
                    <p class="authorname">{{comment.name}} </p>
                    <p class="commentDate">{{comment.created_at}}</p>
                </div>
            </div>
            <div class="comment">
                <p class="commentText">{{comment.body}}</p>
            </div>
        </div>
    </div>
</div>
<div class="addCommentBlock">
    <h4>Add Comment</h4>
    <div class="block">
        <div class="textInput">
            <input type="text">
        </div>
        <div class="btn-block">
            <button class="addBtn">Submit</button>
        </div>
    </div>
</div>