.postsBlock {
    margin: 10px 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .postCards {
        width: 398px;
        height: 325px;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        // text-overflow: ellipsis;
        box-shadow: 0 1.5em 2em -1em #999;
        margin-bottom: 10px;
        padding: 60px;
        // af
        justify-content: space-between;
        // af
        .postTitle {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .postBody {
            padding: 10px;
            max-height: 225px;
            overflow: hidden;
        }
        .authorName {
            margin: 15px;
            text-align: center;
        }
    }
    // .postCards  + .postCards {
    //     margin-left: 10px;
    //     &:nth-child(4n) {
    //         margin-left: 0;
    //     }
    // }
    .pagination {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        button {
            background-color: #282c34;
            color: white;
            width: 35px;
            height: 35px;
            cursor: pointer;
            img {
                width: 100%;
            }
        }
        .pageno {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}