<div class="app-loading" *ngIf = 'loading' >
    <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div class="postsBlock" *ngIf = '!loading'>
    <div class="postCards" *ngFor = "let post of postsData">
        <div class="postBody">
            <h3 class="postTitle">{{post.title}}</h3>
            <p class="postBodyPara">{{post.slicedBody}}
            </p>
            <div class="authorName" *ngIf = "post.authorname">
                <p class="authName">{{post.authorname}}</p>
            </div>
        </div>
        <div class="btn-block">
            <button (click)="readMore(post.id)">Read More</button>
        </div>
    </div>
    <div class="pagination">
        <button class="prev" (click)="onPageChange('prev')">
            <img src="assets/images/arrow_left.svg" alt="">
        </button>
        <div class="pageno">
            {{page}}
        </div>
        <button class="next" (click)="onPageChange('next')">
            <img src="assets/images/arrow_right.svg" alt="">
        </button>
    </div>
    <!-- <div class="postCards" *ngFor = "let post of postsData">
        <h3 class="postTitle">{{post.title}}</h3>
        <div class="postBody">
            <p class="postBodyPara">{{post.slicedBody}}
                <a href="">read more</a>
            </p>
        </div>
        <div class="authorName" *ngIf = "post.authorname">
            <p class="authName">{{post.authorname}}</p>
        </div>
        <div class="btn-block">
            <button>Read More</button>
        </div>
    </div> -->
</div>